* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-main: 'Poppins', sans-serif;
    --font-alt-01: 'Lobster Two', sans-serif; 

    --white: #fcfcfc;
    --black: #202020;
    --light-blue: #00d0ff;
    --mid-blue: #2090b0;
    --dark-blue: #006080;
    --darker-blue: #083c4c;

    --gradient-dark-blue-light-blue: linear-gradient(
        135deg,    
        var(--dark-blue),
        var(--light-blue));
    --gradient-transp-black-a10: linear-gradient(
        transparent,
        rgba(0,0,0,0.1));
    --gradient-black-a10: linear-gradient(
        rgba(0,0,0,.01));
}

html {
    scroll-behavior: smooth;
}

body {
    background: #101010;
    font-family: var(--font-main);
}

/* ////////// Home header ////////// */
.home-header {
    background-image: url('images/german-shepherd-mountain-vert.jpg');
    background-position: left;
    background-size: cover;
    padding: 1vh 0;
    overflow: hidden;
}
/* ////////// ////////// */

/* ////////// Secundary header ////////// */
.sec-header {
    padding-top: 10px;
}
.sec-header #burger {
    background: none;
}
.sec-header nav:hover #burger {
	background: rgba(0, 0, 0, 0.1);
}
/* ////////// ////////// */

h1, h2 {
    font-family: var(--font-alt-01);
}

/* ////////// Logos ////////// */
.logo-cont-home, .logo-cont-small {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo-akira {
    font-family: var(--font-alt-01);
}
/* ////////// ////////// */

/* ////////// Home logo ////////// */
.logo-cont-home {
    background: rgba(0, 0, 0, 0.5);
    border: 1vh solid #00d0ff80;
    color: var(--white);
    height: 40vh;
    margin: 29vh auto;
    max-height: 100vw;
    max-width: 100vw;
    width: 40vh;
}
.logo-cont-home .logo-akira {
    border-bottom: 1vh solid var(--white);
    font-size: 12vh;
    font-weight: 700;
}
.logo-cont-home .logo-vet {
    font-size: 6vh;
    font-weight: 600;
}
/* ////////// ////////// */

/* ////////// Small logo ////////// */
.logo-cont-small {
    background: var(--black);
    border: 0.14em solid var(--white);
    height: 5.63em;
    width: 5.63em;
}
.logo-cont-small .logo-akira {
    border-bottom: 0.08em solid var(--white);
    font-size: 1.69em;
}
.logo-cont-small .logo-vet {
    font-size: 0.84em;
}
.logo-a:hover .logo-cont-small {
    background: var(--dark-blue);
}
.logo-a {
    border-radius: 50%;
	color: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
	text-decoration: none;
    top: 15px;
    width: fit-content;
}
/* ////////// ////////// */

/* ////////// Nav ////////// */
nav {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}
nav a {
	color: var(--white);
	text-decoration: none;
}
#burger {
	background: rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    padding: 1px 6px;
}
nav ul {
	background: rgba(0, 0, 0, 0.1);
	display: none;
	list-style-type: none;
	position: absolute;
	right: 0;
    padding: 10px 3px;
	top: 100%;
    text-align: left;
}
nav:hover ul {
    display: block;
}
nav li {
    margin: 3px;
}
nav a {
    background: #505050;
    display: inline-block;
    min-width: max-content; /* to avoid line breaks */
    padding: 2px 20px;
    width: 100%; /* to make them take the full width (clickable) */
}
nav ul a:hover {
    background: var(--mid-blue);
}
/* ////////// ////////// */

h1, h2 {
    border-bottom: 2px solid;
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
}

p {
    margin-bottom: 30px;
}

p:last-of-type {
    margin-bottom: 0;
}

section {
    padding: 70px 0;
}

.width-cont {
    margin: 0 auto;
    max-width: 900px;
    width: 95%;
}

.blue-bg {
    background: var(--gradient-dark-blue-light-blue);
    color: var(--white);
}

.blue-bg h1, blue-bg h2 {
    color: var(--white);
}

.white-bg {
    background: var(--white);
    color: #404040;
}

.white-bg h1, .white-bg h2 {
    color: var(--dark-blue);
}

.two-btn {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 45px;
    row-gap: 15px;
}

button {
    background: var(--dark-blue);
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 1.2em;
    padding: 20px 3px;
    width: 100%;
}

button:hover {
    background: var(--mid-blue);
}

.intro-form-grid {
    display: grid;
    gap: 50px;
}

.intro-form-grid > div:first-of-type {
    column-gap: 10px;
    display: grid;
    row-gap: 30px;
}

.intro-form-grid .img-bg {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}

.intro-form-grid img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

.intro-form-grid h3 {
    margin-bottom: 20px;
}

/* ////////// Forms ////////// */
#contact-form {
    background: rgba(0, 0, 0, 0.1);
}

#appointment-form {
    background: var(--gradient-dark-blue-light-blue);
    color: var(--white);
}

#contact-form, #appointment-form {
    padding: 25px 15px 15px 15px;
}

fieldset {
    background: var(--white);
    color: var(--dark-blue);
    border: none;
    margin: 20px 0 40px 0;
    padding: 10px 10px 15px 10px;
}

legend {
    background: var(--white);
    font-weight: 600;
    left: -10px;
    width: calc(100% + 20px);
    padding: 5px 10px 0 10px;
    position: relative;
}

.one-two {
    column-gap: 15px;
    display: grid;
}

label {
    display: block;
    font-size: 0.9em;
    margin: 15px 0 5px 0;
}

input {
    background: transparent;
    border: 1px solid var(--mid-blue);
    border-radius: 0;
    display: block;
    font-size: 0.9em;
    padding: 5px;
    width: 100%;
}

textarea {
    background: transparent;
    border: 1px solid var(--mid-blue);
    font-family: var(--font-main);
    font-size: 0.9em;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

form button {
    background: var(--black);
    width: 50%;
}

form button:hover {
    background: var(--darker-blue);
}

/* ////////// Footer ////////// */
footer {
    background: #303030;
    color: #ddd;
    padding: 50px 8%;
}

footer a {
    color: #ddd;
    text-decoration: none;
}

/* ////////// Media queries ////////// */

/* ////////// 750px ////////// */
@media screen and (min-width: 750px) {
    body {
        font-size: 1.05em;
    }
    .home-header {
        background-image: url('images/german-shepherd-mountain-horiz-mid.jpg');
        background-position: top;
    }
    .logo-cont-home {
        border: 1.25vh solid rgba(0, 208, 255, 0.5);
        height: 50vh;
        margin: 24vh auto;
        width: 50vh;
    }
    .logo-cont-home .logo-akira {
        font-size: 15vh
    }
    .logo-cont-home .logo-vet {
        font-size: 7.5vh;
    }
    .sec-header {
        padding-top: 50px;
    }
    .home-header a, .sec-header a {
        background: none;
    }
    .home-header a {
        color: #101010;
    }
    #burger {
        display: none;
    }
    nav {
        right: 0;
        width: 100%;
    }
    nav ul {
		background: transparent;
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        right: 0;
        top: 0;
        width: fit-content;
    }
    nav li {
		display: inline-block;
    }
    nav ul a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    .two-btn {
        grid-template-columns: 1fr 1fr;
    }
    .intro-form-grid > div:first-of-type {
        grid-template-columns: 2fr 3fr;
    }
    .intro-form-grid > div:first-of-type > div:nth-child(1) {
        background: transparent;
    }
    .intro-form-grid > div:first-of-type > div:nth-child(2) {
        background: var(--gradient-transp-black-a10);
        padding: 0 15px 5px 15px;
    }
    .one-two {
        grid-template-columns: 1fr 1fr;
    }
}

/* ////////// 1000px ////////// */
@media screen and (min-width: 1000px) {
    body {
        font-size: 1.1em;
    }
    .home-header {
        background-image: url('images/german-shepherd-mountain-horiz-large.jpg');
    }
}

/* ////////// 1400px ////////// */
@media screen and (min-width: 1400px) {
    body {
        font-size: 1.15em;
    }
}

/* ////////// 1900px ////////// */
@media screen and (min-width: 1900px) {
    body {
        font-size: 1.25em;
    }
}

/* ////////// 2500px ////////// */
@media screen and (min-width: 2500px) {
    body {
        font-size: 1.3em;
    }
}